.main {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    overflow-x: hidden;
    transition-duration: 0.3s;
    transition-property: all;
}

.main3 {
    display: block;
    position: relative;
}

.main2 {
    scrollbar-width: none;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    top: 0;
    position: fixed;
    background-color: white;
    width: 100%;
    gap: 30%;
}

.child {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    position: relative;
    transition-duration: 0.15s;
    transition-property: all;
}
.child1:active {
    text-shadow: 0 0 0.25rem rgb(0, 0, 0);
}
.child2:active {
    text-shadow: 0 0 0.15rem rgb(0, 132, 255);
    cursor: pointer;
}

.loader {
    width: 4rem;
    height: 4rem;
    position: relative;
}
.loader::before,
.loader::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48em;
    height: 48em;
    background-image: radial-gradient(circle 1.5rem, #ff7d7d 100%, transparent 0),
    radial-gradient(circle 1.5rem, #ff7d7d 100%, transparent 0),
    radial-gradient(circle 1.5rem, #ff7d7d 100%, transparent 0),
    radial-gradient(circle 1.5rem, #ff7d7d 100%, transparent 0),
    radial-gradient(circle 1.5rem, #ff7d7d 100%, transparent 0),
    radial-gradient(circle 1.5rem, #ff7d7d 100%, transparent 0),
    radial-gradient(circle 1.5rem, #ff7d7d 100%, transparent 0),
    radial-gradient(circle 1.5rem, #ff7d7d 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em, 13em -13em,
    -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
    font-size: 2.5rem;
    border-radius: 50%;
    animation: blast 1s ease-in infinite;
}
.loader::after {
    font-size: 2.5rem;
    background: #ff7d7d;
    animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
    0%,
    100% {
        font-size: 2.8rem;
    }
    50% {
        font-size: 3.1rem;
    }
}
@keyframes blast {
    0%,
    40% {
        font-size: 2.8rem;
    }
    70% {
        opacity: 1;
        font-size: 3.3rem;
    }
    100% {
        font-size: 3.9rem;
        opacity: 0;
    }
}





@media screen and (max-width: 900px) and (min-width: 650px) {
    .main2 {
    gap: 23%;
    }
}

@media screen and (max-width: 660px) and (min-width: 500px) {
    .main2 {
    gap: 17%;
    margin-top: 0.2rem;
    }
}

@media screen and (max-width: 500px) {
    .main2 {
    gap: 12%;
    margin-top: 0.3rem;
    }
}
